/* media query for small devices */
@media screen and (max-width:576px) {
    .navbar,.banner{
        margin-left: 10px;
        margin-right: 10px;
    }
    /* navbar */
    .hamburger-menu{
        display: block;
    }
    .nav-list{
        display: none;
    }

    /* banner */
    .banner{
        flex-direction: column;
    }
    #join-btn-small{
        display: block;
    }
    #join-btn{
        display: none;
    }
    #badge-one{
        top: 50px;
        right: -10px;
        padding: 12px 18px;

    }
    #play-btn{
        bottom: 259px;
        right: 265px;
        z-index: 2;
    }
    .badge-two{
        bottom: 220px;
        right: 150px;
        z-index: 1;
        padding: 15px;
    }
    #five-hun {
        font-size: 1.9rem;
    }
    #three-hun{
        font-size: 1.1rem;

    }
    #free {
        font-size: 0.6rem;

    }
    #vid{
        font-size: 0.8rem;
    
    }

    /* change your habits section */
    .habit-cards-container {
        grid-template-columns: repeat(1,1fr);
    }
    /* run section styles */
    .run-extra-mile{
        flex-direction: column;
        gap: 30px;
    }
    .run-content{
        width: 100%;
    }
    .run-dp {
        width: 100%;
    }
    .run-dp>img {
        width: 100%;
        height: 100%;
    
        object-fit: cover;
    }
    .run-content>button{
        margin-top: 24px;
        width: 100%;
    }

    /* team section */
    .team{
        grid-template-columns: repeat(1,1fr);
    }
    .team-card{
        max-width: 100%;
    }
    /* unique section */
    .unique-parent {
        min-height: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
    }
    .unique-child-1{
        grid-column: 1/span 3;
        grid-row: 1/span 1;
    }
    .unique-child-2{
        grid-column: 1/span 3;
        grid-row: 2/span 1;

    }
    .unique-child-3{
        grid-column: 1/span 3;
        grid-row: 3/span 1;
    }
}





/* media query for medium devices */
@media screen and (min-width:576px) and (max-width:992px){
     /* banner */
    .banner{
        flex-direction: column;
    }
    /* change your habits section */
    .habit-cards-container {
        grid-template-columns: repeat(2,1fr);
    }
}