* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* adding fonts */
/*inter*/
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*miama*/
.miama-italic {
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: 400;
}

/* shared styles */
.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

header {
    border: 2px solid black;
    min-height: 715px;

    background: linear-gradient(180deg,
            rgb(0, 0, 0) 0%,

            rgba(30, 30, 30, 0.986) 25%,
            rgba(40, 40, 40, 0.986) 50%,
            rgba(30, 30, 30, 0.986) 75%,

            rgb(0, 0, 0) 100%);
}

main {
    border: 1px solid black;
    min-height: 715px;
    background-color: rgb(0, 0, 0);

}


.navbar,
.banner,
main>section {
    max-width: 1060px;
    margin: 0 auto;

}

.btn-primary {
    border: none;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);

    font-size: 1.125rem;
    font-weight: 600;

    padding: 8px 20px;
}



/* nav styles */
.navbar {
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
}

.nav-list {
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.nav-links>li {
    margin-left: 47px;
    margin-right: 20px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 400;

}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.hamburger-menu {
    display: none;
    max-width: 24px;
    height: 24px;
}

/* banner styles */
.banner {
    gap: 167px;
    margin-top: 32px;
    align-items: center;
}

.banner-content {
    /* border: 2px solid blue; */
    max-width: 520px;


}

.banner-dp {
    /* border: 2px solid yellow; */
    position: relative;

}

.banner-dp>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-title {
    font-size: 4.9rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    letter-spacing: 0%;
}

#shape {
    line-height: 120%;
}

.banner-descrip {
    margin-top: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.banner-btns {
    margin-top: 28px;
}

#down-btn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: rgb(18, 18, 18, 0.1);
    margin-left: 14px;

    border-radius: 42px;
    padding: 16px 40px;
}

#join-btn {
    border-radius: 42px;
    padding: 16px 40px;
}

#join-btn-small {
    border-radius: 42px;
    padding: 16px 40px;
}

#badge-one {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);

    width: max-content;
    padding: 17px 24px;
    height: 98px;

    position: absolute;
    top: 120px;
    right: -50px;

}

.badge-two {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);

    width: max-content;
    padding: 17px 24px;
    height: 96px;
    align-items: center;
    gap: 12px;

    position: absolute;
    bottom: 50px;
    right: 250px;

}

#play-btn {
    position: absolute;
    bottom: 260px;
    right: 395px;

}

#five-hun {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

#three-hun {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
}

#free {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}

#vid {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);

}

/* main section styles */
main>section {
    border: 2px solid red;
    margin-top: 100px;
}

.section-title {
    color: rgb(255, 255, 255);
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.section-descrip {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
}

/* habits section styles */
.change-habits {
    min-height: 452px;
    border: none;
}

.habit-content,
.team-content {
    max-width: 671px;
    /* border: 1px solid blue; */
    text-align: center;
    margin: 0 auto;
}

.habit-cards-container {
    /* border: 1px solid purple; */
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit-card {
    /* border: 1px solid greenyellow; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 30px;
}

.card-descrip {
    color: rgb(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
}

.habit-card>img {
    width: 90%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
    object-fit: cover;
}

/* run section styles */
.run-extra-mile {
    min-height: 371px;
    background-color: rgb(34, 34, 34);
    border: none;
    border-radius: 18px;
    padding: 40px;
    gap: 165px;

}

.run-content {
    /* border: 1px solid blue; */
    width: 50%;
}

.run-dp {
    /* border: 1px solid green; */
    width: 50%;
}

.run-dp>img {
    width: 100%;
    height: 100%;

    object-fit: none;
    object-position: 67% 28%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
}

.run-content>button {
    margin-top: 50px;
    width: 50%;
}


/* team section styles */
.meet-team {
    min-height: 782px;
}

.team {
    min-height: 604px;
    margin-top: 58px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;

    
}
.team-card{
    /* border: 1px solid pink; */
    max-width:327px;
    height: 272px;
    border-radius: 18px;

    flex-direction: column;
    justify-content: end;
    padding: 20px;
}
.trainer-name{
    color: rgb(255, 255, 255);
    font-weight: 900;
   
}
.trainer{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.team>:nth-child(1){
   background:linear-gradient(180deg,
   rgba(16, 16, 16, 0.416)-20%,rgba(16, 16, 16, 0.114) 90%)
   , url(/images/trainer1.png);
   background-position: center;
   background-size: cover;
}
.team>:nth-child(2){
    background:linear-gradient(180deg,
    rgba(16, 16, 16, 0.416)-20%,rgba(16, 16, 16, 0.114) 90%)
    , url(/images/trainer2.png);
   background-position: center;
   background-size: cover;
}
.team>:nth-child(3){
    background:linear-gradient(180deg,
    rgba(16, 16, 16, 0.416)-20%,rgba(16, 16, 16, 0.114) 90%)
    , url(/images/trainer3.png);
   background-position: center;
   background-size: cover;
}
.team>:nth-child(4){
    background:linear-gradient(180deg,
    rgba(16, 16, 16, 0.416)-20%,rgba(16, 16, 16, 0.114) 90%)
    , url(/images/trainer4.png);
   background-position: center;
   background-size: cover;
}
.team>:nth-child(5){
    background:linear-gradient(180deg,
    rgba(16, 16, 16, 0.416)-20%,rgba(16, 16, 16, 0.114) 90%)
    , url(/images/trainer5.png);
   background-position: center;
   background-size: cover;
}
.team>:nth-child(6){
    background:linear-gradient(180deg,
    rgba(16, 16, 16, 0.416)-20%,rgba(16, 16, 16, 0.114) 90%)
    , url(/images/trainer6.png);
   background-position: center;
   background-size: cover;
}